# Python cruft
*.pyc
__pycache__
*.egg-info
.venv
.pytest_cache
dist
.ipynb_checkpoints
.mypy_cache

# Editor cruft
.vscode
.*.swp

# Secrets
.env
.env.test
.Rproj.user

# Mac cruft
.DS_Store

# Data
acs_data/usa_00013.csv
acs_data/usa_00013.xml
component_testing.py
src/ziptool/resources/usa_00013.csv
docs/examples/config.py
docs/examples/usa_00021.dat.gz
docs/examples/usa_00021.xml
*.gz
docs/examples/usa_00023.xml
